.App {
  text-align: center;
}


.MainAppearTransition-appear {
  opacity: 0.3;
  transform: translateX(1000px);
}

.MainAppearTransition-appear.MainAppearTransition-appear-active{
  opacity: 1;
  transform: translateX(0px);
  transition: all 1s ease
}

.MainAppearTransition-leave {
  opacity: 1;
  transform: translateX(0px);
}

.MainAppearTransition-leave.MainAppearTransition-leave-active{
  opacity: 0.1;
  transform: translateX(-1000px);
  transition: all 1s ease
}



.AboutAppearTransition-appear {
  opacity: 0.5;
  transform: translateX(1000px);
}

.AboutAppearTransition-appear.AboutAppearTransition-appear-active{
  opacity: 1;
  transform: translateX(0px);
  transition: all 1s ease
}
