.App {
  text-align: center;
}


.transition-wrapper {
    position: relative;
    z-index: 1;
}

.transition-wrapper .transition-item {
    position: fixed;
    top: inherit;
    right: 0;
    left: 0;
}

.main-page{
  transition: all 1s ease;
  transform: translate3d(0, 0, 0);

}

.main-page.transition-appear {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.main-page.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.main-page.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.main-page.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}


.review-page{
  transition: all 1s ease;
  transform: translate3d(0, 0, 0);

}

.review-page.transition-appear {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.review-page.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.review-page.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.review-page.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
